<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.aviasales.template">

	<application android:allowBackup="true">
		<activity
				android:name="ru.aviasales.template.BrowserActivity"
				android:theme="@style/AviasalesTemplateTheme"
				android:configChanges="orientation|screenSize">
		</activity>

	</application>

</manifest>
